.padre{

width: 80%;
margin-left: 80px;
box-shadow: 2px  2px 10px ;
padding-top: 30px

}

.hijo1{

width: 80%;
height: 250px;
margin: auto;
text-align: center;
}


.nieto{
    
float:right ;

margin-top: 15px;
margin-right: 220px;


}

.datos {
   
    width: 80%;
    height: 600px;


    margin: auto;
}

h2 {
   
    font-family: 'Times New Roman', Times, serif;

  font-size: 27px;
}

.hijo2{

float: left;

margin-left: 70px;
margin-top: 15px;

}

.perfil{



width: 80%;
height: 400px;  
margin: auto;

}

.formacion{

width: 80%;
height: 600px;
margin: auto;

}

p{

font-family: Arial, Helvetica, sans-serif;
font-size: 24px;
margin-bottom: 70px;


}

h1{

font-family: Arial, Helvetica, sans-serif;
font-size: 29px;

 }

 ul{


    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
 }
 .profesioal{

margin-bottom: 50px;

 }

 .academica{
     margin-bottom: 50px;

 }
 img{
width: 150px;
height: 150px;

 }
 
 
